{% extends "bases/bootstrap-member.html" %}

{% load bootstrap3 %}

{% block head_title %}Welcome{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% bootstrap_messages %}

    <div class="col-md-6">
      <p class="sticky taped2" style="width: 250px;">
        The deadline for sending homework and completing your profile will be Wednesday evening!
      </p>
    </div>

    <div class="col-md-6">
      <h3>Profile</h3>
      <ul class="list-unstyled">
        <li>First name: <strong>{{user.first_name}}</strong></li>
        <li>Last name: <strong>{{user.last_name}}</strong></li>
        <li>Display name: <strong>{{user.display_name}}</strong></li>
        <li>Email: <strong>{{user.email}}</strong></li>
      </ul>
      <a href="{% url 'account_profile' %}">Edit</a>
    </div>
  </div>
</div>
{% endblock %}


