{% extends "bases/bootstrap-visitor.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <div class="jumbotron text-center">
    <h1>InfoClock Website</h1>
    <p class="lead">
      <p>“All we have to decide is what to do with the time that is given us.” - Gandalf, Lord of The Rings</p>
    </p>
    <p>
      <a class="btn btn-lg btn-success " href="{% url 'account_signup' %}" role="button">Join</a>
      or
      <a class="btn btn-lg btn-success " href="{% url 'account_login' %}" role="button">Log In</a>
    </p>
  </div>
</div>

{% endblock %}


