{% extends user.is_authenticated|yesno:"bases/bootstrap-member.html,bases/bootstrap-minimal.html" %}

{% load staticfiles %}

{% block content %}

<div class="container">
  <ul>
    <li>11.05.2016 - Am pus Codeforces #352</li>
    <li>16.05.2016 - Am pus Codeforces #353</li>
    <li>26.05.2016 - Am pus Codeforces #354</li>
    <li>28.05.2016 - <a href="http://codeforces.com/group/CJYYWxOetD/contest/207367/standings/groupmates/true">Am dat al doilea examen.</a></li>
    <li>27.05.2016 - Am pus concursurile de Div2 unde Denis Mita a participat ca neoficial pentru ca e Div1.</li>
    <li>27.05.2016 - <a href="http://codeforces.com/group/CJYYWxOetD/contest/207342/standings/groupmates/true/page/1">Am dat primul examen onsite</a>. Valentin Harsan a participat cu ID-ul AkashiSeijuro.</li>
  </ul>
  <p>Concursurile la care puteati participa. Punctajul minim pentru nota 10 e numarul de concursuri inmultit cu 3 puncte.</p>
  <ol>
    <li>VK Cup 2016 - Round 1</li>
    <li>Codeforces Round #346</li>
    <li>Educational Codeforces Round 11</li>
    <li>Codeforces Round #347</li>
    <li>Educational Codeforces Round 12 </li>
    <li>Codeforces Round #348</li>
    <li>Codeforces Round #349</li>
    <li>Codeforces Round #350</li>
    <li>Codeforces Round #351</li>
    <li>Codeforces Round #352</li>
    <li>Codeforces Round #353</li>
    <li>Codeforces Round #354</li>
  </ol>
  <h1>Ranking</h1>
   <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> No </th>
                <th class="col-md-3"> Name </th>
                <th> Codeforces Handle </th>
                <th> Codeforces Points </th>
                <th> Minimal Codeforces Points </th>
                <th> Codeforces Grade </th>
                <th> Problems solved 1st exam </th>
                <th> Problems solved 2nd exam </th>
                <th> Exam Grade </th>
                <th> Final Grade </th>
                <th> Edit </th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td class="col-md-3"><a href="/participant/{{user.id}}">{{user.name}}</a></td>
          <td><a href="http://codeforces.com/profile/{{user.codeforces_handle}}">{{user.codeforces_handle}}</a></td>
          <td>{{user.codeforces_points}}</td>
          <td>{{minimum}}</td>
          <td><b>{{user.codeforces_grade}}</b></td>
          <td>{{user.1st}}</td>
          <td>{{user.2nd}}</td>
          <td><b>{{user.exam_grade}}</b></td>
          <td><b>{{user.final_grade}}</b></td>
          <td><a href="/admin/allauthdemo_auth/demouser/{{user.id}}">Edit...</a></td>
        </tr>
        {% endfor %}
        <tbody>
      </body>
      </table>
  </div>
</div>

{% endblock %}
