{% extends user.is_authenticated|yesno:"bases/bootstrap-member.html,bases/bootstrap-minimal.html" %}

{% load staticfiles %}

{% block content %}

<div class="container">
  <ul>
    <li>11.05.2016 - Am pus Codeforces #352</li>
    <li>16.05.2016 - Am pus Codeforces #353</li>
  </ul>
  <p>Concursurile la care puteati participa. Punctajul minim pentru nota 10 e numarul de concursuri inmultit cu 3 puncte.</p>
  <ol>
    <li>VK Cup 2016 - Round 1</li>
    <li>Codeforces Round #346</li>
    <li>Educational Codeforces Round 11</li>
    <li>Codeforces Round #347</li>
    <li>Educational Codeforces Round 12 </li>
    <li>Codeforces Round #348</li>
    <li>Codeforces Round #349</li>
    <li>Codeforces Round #350</li>
    <li>Codeforces Round #351</li>
    <li>Codeforces Round #352</li>
  </ol>
  <h1>Ranking</h1>
   <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> No </th>
                <th> Name </th>
                <th> Codeforces </th>
                <th> Punctaj fictiv </th>
                <th> Nota </th>
                <th> Echivaleaza? </th>
                <th> Edit </th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td><a href="/participant/{{user.id}}">{{user.name}}</a></td>
          <td>{{user.codeforces_points}}</td>
          <td>{{minimum}}</td>
          <td>{{user.nota}}</td>
          <td>{{user.echivaleaza}}</td>
          <td><a href="/admin/allauthdemo_auth/demouser/{{user.id}}">Edit...</a></td>
        </tr>
        {% endfor %}
        <tbody>
      </body>
      </table>
  </div>
</div>

{% endblock %}
